In [220]:
l=[1,2,'cijo','nirmal',2.5]
t=(3,4,'aditya','rishana',4.45)
s={5,6,5,7,6,'cijo','cijo','aditya','nirmal',5,5,45.67,'rishana'}
d={'a':'apple','b':'ball','c':'cat'}
print(type(l))
print(type(t))
print(type(s))
print(type(d))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [221]:
print(len(l))

5

In [222]:
print(l[0])

1

In [223]:
l1=[1,2,3,8,10,'cijo','nirmal','rishana']
print(l1[4:])

[10, 'cijo', 'nirmal', 'rishana']

In [224]:
print(l1[:6])

[1, 2, 3, 8, 10, 'cijo']

In [225]:
print(l1[3:7])

[8, 10, 'cijo', 'nirmal']

In [226]:
print(l1[-5:-1])

[8, 10, 'cijo', 'nirmal']

In [227]:
l1[6]='aditya'
print(l1)

[1, 2, 3, 8, 10, 'cijo', 'aditya', 'rishana']

In [228]:
l1[3:5]=[12,14]
print(l1)

[1, 2, 3, 12, 14, 'cijo', 'aditya', 'rishana']

In [229]:
l1[1:5]=[12,13,14,15]
print(l1)

[1, 12, 13, 14, 15, 'cijo', 'aditya', 'rishana']

In [230]:

l1.remove('rishana')
print(l1)

[1, 12, 13, 14, 15, 'cijo', 'aditya']

# repetation

In [231]:
l1=[1,2,3,4]
a=l1*2
print(l1)
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4]

# concatination

In [232]:
l2=[5,6,7,8]
print(l1+l2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [233]:
l1=[1,2,3,4,'cijo']
print(l1)
l1.append('nirmal')
print(l1)

[1, 2, 3, 4, 'cijo']
[1, 2, 3, 4, 'cijo', 'nirmal']

In [234]:
l1.append(['aditya','rishana'])
print(l1)

[1, 2, 3, 4, 'cijo', 'nirmal', ['aditya', 'rishana']]

In [235]:

l1.extend(['aditya','rishana'])
print(l1)

[1, 2, 3, 4, 'cijo', 'nirmal', ['aditya', 'rishana'], 'aditya', 'rishana']

In [236]:
l1.pop()
print(l1)

[1, 2, 3, 4, 'cijo', 'nirmal', ['aditya', 'rishana'], 'aditya']

In [237]:
l1.pop(5)
print(l1)

[1, 2, 3, 4, 'cijo', ['aditya', 'rishana'], 'aditya']

In [238]:
l1.clear()
print(l1)

[]

In [239]:
del l1

In [240]:
l1=[1, 2, 3, 4, 'cijo', 'nirmal', 'aditya', 'rishana']
l1.insert(0,111)
print(l1)

[111, 1, 2, 3, 4, 'cijo', 'nirmal', 'aditya', 'rishana']

In [241]:
l1=[1,2,6,7,44,33,2446552]
print(min(l1))
print(max(l1))

1
2446552

In [242]:
l1=[5,3,6,8,3,5,1]
l1.sort(reverse=True)
print(l1)

[8, 6, 5, 5, 3, 3, 1]

In [243]:
l1=[1,2,3,4,5,6]
print(l1)

[1, 2, 3, 4, 5, 6]

In [244]:
scopy=l1.copy()
print(scopy)

[1, 2, 3, 4, 5, 6]

In [245]:
import copy
l1=[1,2,3,4,5,6]
print(l1)

[1, 2, 3, 4, 5, 6]

In [246]:
l2=copy.copy(l1)
print(l2)

[1, 2, 3, 4, 5, 6]

In [247]:
l2[0]=100
print(l2)

[100, 2, 3, 4, 5, 6]

In [248]:
print(l1)

[1, 2, 3, 4, 5, 6]

In [249]:
l3=[7,8,9,10]
print(l3)

[7, 8, 9, 10]

In [250]:
l4=copy.deepcopy(l3)
print(l4)

[7, 8, 9, 10]

In [251]:
l4[0]=200
print(l4)
print(l3)

[200, 8, 9, 10]
[7, 8, 9, 10]

# copy

In [252]:
import copy

In [253]:
l1=[1,2,3,4,5,6]
print(l1)

[1, 2, 3, 4, 5, 6]

In [254]:
l2=copy.copy(l1)
l2

[1, 2, 3, 4, 5, 6]

In [255]:
l2[0]=100
l2

[100, 2, 3, 4, 5, 6]

In [256]:
l1

[1, 2, 3, 4, 5, 6]

In [257]:
l1=[1,2,3,2,4,5,6,7,1,2,3]
print(l1)
l2=[]
for i in l1:
    if i not in l2:
        l2.append(i)
print(l2)

[1, 2, 3, 2, 4, 5, 6, 7, 1, 2, 3]
[1, 2, 3, 4, 5, 6, 7]

# Tuple

In [258]:
t1=(1,2,3.4,'cijo',34,'nirmal')
print(t1)
l1=list(t1)
l1[1]=23
t1=tuple(l1)
print(t1)

(1, 2, 3.4, 'cijo', 34, 'nirmal')
(1, 23, 3.4, 'cijo', 34, 'nirmal')

In [259]:
print(len(t1))
print(t1[0])
print(t1[2:5])
print(2 in t1)

6
1
(3.4, 'cijo', 34)
False

In [260]:
t2=(4,5,4.3,'aditya','rishana')
print(t1+t2)

(1, 23, 3.4, 'cijo', 34, 'nirmal', 4, 5, 4.3, 'aditya', 'rishana')

# set

In [261]:
l1=[1,2,2,3,2,4,5,6,5,6,7,8,7,8]
s=list(set(l1))
s

[1, 2, 3, 4, 5, 6, 7, 8]

In [262]:
s1={1,2,3,4,5,6}
print(type(s1))
print(len(s1))
# print(s1[0])
# print(s1[1])
s1.add(7)
s1.update([8,9])
print(s1)

<class 'set'>
6
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [263]:
s1={1,2,3,4,5,6}
s1.remove(7)
print(s1)

KeyError: 7

In [ ]:
s1.discard(7)
s1

{1, 2, 3, 4, 5, 6}

In [ ]:
s1.pop(3)
s1

TypeError: set.pop() takes no arguments (1 given)

In [ ]:
s1.clear()
s1

set()

In [ ]:
del s1

In [ ]:
a={1,2,3,4,5}
b={3,4,5,6,7,8}
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
a&b

{3, 4, 5}

In [ ]:
a-b

{1, 2}

In [ ]:
b-a

{6, 7, 8}

In [ ]:
s1={1,2,3,4}
s2={1,2,3,4,5}
s1-s2

set()

In [ ]:
s2-s1

{5}

In [ ]:
s1={5,6,7,2,1,3}
s1

{1, 2, 3, 5, 6, 7}

In [ ]:
s2={44,77,88,55}
s2

{44, 55, 77, 88}

In [ ]:
s={'a','d','r','c'}
s

{'a', 'c', 'd', 'r'}

In [ ]:
s1={1,2,3,4,5,6,7,8}
s2={5,6,7,8}
print(s2.issubset(s1))
print(s1.issuperset(s2))

True
True

# dict

In [ ]:
my_dict={'a':'apple','b':'ball'}
my_dict

{'a': 'apple', 'b': 'ball'}

In [ ]:
person=dict({'name':'cijo','country':'india','tele':12345})
print(person)

{'name': 'cijo', 'country': 'india', 'tele': 12345}

In [ ]:
person=dict([('name','cijo'),('country','india'),('tele',12345)])
print(person)

{'name': 'cijo', 'country': 'india', 'tele': 12345}

In [ ]:
my_dict.keys(
    
)

dict_keys(['a', 'b'])

In [ ]:
my_dict.values()

dict_values(['apple', 'ball'])

In [ ]:
my_dict.items()

dict_items([('a', 'apple'), ('b', 'ball')])

In [ ]:
len(my_dict)

2

In [ ]:
l1=[54, 43, 2, 1, 5]
for i in l1:
    print(i,end=' ')

54 43 2 1 5

In [ ]:
l1=[54, 43, 2, 1, 5]
s=0
for i in l1:
    s+=i
print(s)

105

In [ ]:
a,b,c=1,2,3
l1=[]
l1.append(a)
l1.append(b)
l1.append(c)
print(l1)

[1, 2, 3]

In [ ]:
arr = [-12, 8, -7, 6, 12, -9, 14]
s=0
count=0
for i in arr:
    if i>0:
        s+=i
        count+=1    
         
print('average is ',s/count)

average is  10.0

In [ ]:
n=int(input('enter the number'))
i=0
s=0
for i in range(1,n):
    if n%i==0:
        s+=i
if s==n:
    print('perfect')
else:
    print('not perfect')

not perfect

In [ ]:
d={1:'value','key':2}
type(d)

dict

In [ ]:
print(d[1])

value

In [ ]:
print(d[2])

KeyError: 2

In [ ]:
d={'name':'cijo','age':15}
print(d['name'],d['age'])

cijo 15

In [ ]:
d={'brand':'nike','model':'air','year':2010}
print(d)
print(d['model'])

{'brand': 'nike', 'model': 'air', 'year': 2010}
air

In [ ]:
d={'brand':'nike','model':'air','year':2010,'year':2020}
d

{'brand': 'nike', 'model': 'air', 'year': 2020}

In [ ]:
d={'name':'cijo','age':15,'course':'data science','mark':100}
d

{'name': 'cijo', 'age': 15, 'course': 'data science', 'mark': 100}

In [ ]:
d['name']

'cijo'

In [ ]:
print(d['name'])
print(d['age'])
print(d['course'])
print(d['mark'])

cijo
15
data science
100

In [ ]:
# to insert new key value pair
d['city']='kochi'
d

{'name': 'cijo',
 'age': 15,
 'course': 'data science',
 'mark': 100,
 'city': 'kochi'}

In [ ]:
#update
d['age']=16
d

{'name': 'cijo',
 'age': 16,
 'course': 'data science',
 'mark': 100,
 'city': 'kochi'}

In [ ]:
del d['course']
d

{'name': 'cijo', 'age': 16, 'mark': 100, 'city': 'kochi'}

In [ ]:
#loop
for key,value in d.items():
    print(f'{key}:{value}')

name:cijo
age:16
mark:100
city:kochi

In [ ]:
emp={'name':'cijo','salary':100000,'dept':'HOD','city':'kochi'}
emp
print(emp['name'])
print(emp['salary'])
print(emp['dept'])
print(emp['city'])

cijo
100000
HOD
kochi

In [ ]:
emp['age']=25
emp['id']=916
emp

{'name': 'cijo',
 'salary': 100000,
 'dept': 'HOD',
 'city': 'kochi',
 'age': 25,
 'id': 916}

In [ ]:
del emp['dept']
del emp['age']
emp

{'name': 'cijo', 'salary': 100000, 'city': 'kochi', 'id': 916}

In [ ]:
for i,j in emp.items():

     print(f'{i}:{j}')

name:cijo
salary:100000
dept:HOD
city:kochi

In [264]:
p={'apple':{'price':100,'stock':10},
   'banana':{'price':50,'stock':50},
   'mango':{'price':150,'stock':40}}
print(p)

{'apple': {'price': 100, 'stock': 10}, 'banana': {'price': 50, 'stock': 50}, 'mango': {'price': 150, 'stock': 40}}

In [265]:
p['grapes']={'price':200,'stock':30}
p

{'apple': {'price': 100, 'stock': 10},
 'banana': {'price': 50, 'stock': 50},
 'mango': {'price': 150, 'stock': 40},
 'grapes': {'price': 200, 'stock': 30}}

In [266]:
p['banana']['stock']+=25
p

{'apple': {'price': 100, 'stock': 10},
 'banana': {'price': 50, 'stock': 75},
 'mango': {'price': 150, 'stock': 40},
 'grapes': {'price': 200, 'stock': 30}}

In [268]:
p.pop('mango')
p

{'apple': {'price': 100, 'stock': 10},
 'banana': {'price': 50, 'stock': 75},
 'grapes': {'price': 200, 'stock': 30}}