In [ ]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [ ]:
for i in range(1,25):
    if i%2==0:
      print(i)

2
4
6
8
10
12
14
16
18
20
22
24

In [ ]:
n=int(input('enter a number'))
s=0
for i in range(n+1):
    s+=i
print(s)

15

In [ ]:
n=int(input('enter the numver of rows'))
for i in range(1,n+1):
    if i<=n:
       print('*'*i )

*
**
***
****
*****

In [ ]:
i=5
while i<=15:
    print(i)
    i+=1

5
6
7
8
9
10
11
12
13
14
15

In [2]:
i=0
while i<=7:
    if i==4:
        break
    print(i)
    i+=1

0
1
2
3

In [ ]:
l1=['hi','helo','welcome']
l2=['cijo','aditya','nirmal']
for i in l1:
    for n in l2:
        if i=='helo' and n=='aditya':
            break
         print(i,n)

hi cijo
hi aditya
hi nirmal
helo cijo
welcome cijo
welcome aditya
welcome nirmal

In [12]:
x=50
if x>40:
    print('greater than 40')
    if x>50:
        print('alse greater than 50')
    else:
        print('but not greater than 50')

greater than 40
but not greater than 50

In [15]:
n=int(input('enter a number'))
print(n)
if n%2==0:
    if n%3==0:
        print('it is divisible by 2 nad 3')
    else:
        print('it is only divisible by 2')
else:
    if n%3==0:
        print('divisible by 3 not by 2')
    else:
        print('not didvisible by 2 and 3')

7
not didvisible by 2 and 3

In [2]:
s=input('enter a string')
for i in s:
    print(i)

c
i
j
o

In [3]:
n=int(input('enter the number for multiplication'))
for i in range(1,11):
    print(i,'*',n,'=',i*n)

1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40

In [8]:

i=1
n=int(input('enter the number for multiplication'))
while i<=10:
    print(i,'*',n,'=',i*n)
    i+=1

1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40

In [14]:
n=int(input('enter the number of rows'))
for i in range(n,0,-1):
        print('*'*i )

*****
****
***
**
*

In [15]:
i=1
f=1
n=int(input('enter the number'))
while i<=n:
    f*=i
    i=i+1
print(f)

120