In [5]:
def div(n3,n4):
    if n4==0:
        print('error!! zero cannot be denomenator')
    else:
        return n3/n4
n3=int(input('rnter the first number'))
n4=int(input('enter the second number'))
div(n3,n4)

error!! zero cannot be denomenator

In [10]:
def swap(a,b):
    c=a
    a=b
    b=c
    return a,b
a=int(input('enter the first number'))
b=int(input('enter the second number'))
swap(a,b)

(4, 5)

In [19]:
def check(n):
    if n>0:
        print(n, 'is positive and')
        if n%2==0:
            return 'Even' 
        else:
            return 'odd'
    elif n<0:
        return 'negative'
    else:
        return 'zero'
n=int(input('enter the number'))
check(n)

'zero'

In [21]:
def leap(n):
    if n%100==0 and n%400==0:
        return 'leap year'
    elif n%100!=0 and n%4==0:
        return 'leap year'
    else:
        return 'not leap year'
n=int(input('enter a year'))
leap(n)

'not leap year'

In [37]:
def prime(n):
    flag = False
    if n<=1:
        print("Not a prime number")
    elif n==2:
        print('prime number')
    else:
        for i in range(3,n):
            if n%i==0:
                # print("Not a prime number")
                flag = True
                break
            # else:
            #     print("Prime number")

    if flag == True:
        return'not prime'
    else:
        return 'prime'


n=int(input('enter a number'))
prime(n)

'prime'

In [2]:
def mul(n):
    for i in range(1,11):
        print(i,'*',n,'=',i*n)

n=int(input('enter the number for multiplication'))
mul(n)

1 * 4 = 4
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
10 * 4 = 40

In [ ]:
def fibo(n):
    a,b=0,1
    for i in range(n):
        print(a,end=' ')
        a,b=b,a+b
num = int(input("Enter number of terms: "))
print("Fibonacci series:")
fibo(num)

In [18]:
def amstrong(n):
    temp=n
    r=0
    while n>0:
        d=n%10
        r+=d  **len(str(temp))
        n//=10
    if r==temp:
        return 'is amstrong number'

    else:
        return 'not amstrong'
n=int(input('enter the number'))
amstrong(n)

'is amstrong number'

In [22]:
def amstrong(n):
    temp=n
    r=0
    while n>0:
        d=n%10
        r+=d  **len(str(temp))
        n//=10
    
    if temp==r:
        return temp 



s=int(input('enter the starting point'))
e=int(input('enter the end point'))
print(f'amstrong numbers between {s} and {e} are:')
for i in range(s,e):
    if amstrong(i):
        print(i)

amstrong numbers between 10 and 1000 are:
153
370
371
407

LCM of 12 and 12 is 12

In [3]:
def lcm(a, b):
    multiple = max(a, b)
    step = multiple
    while multiple % a != 0 or multiple % b != 0:
        multiple += step
    return multiple

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

result = lcm(num1, num2)
print(f"LCM of {num1} and {num2} is {result}")

LCM of 20 and 22 is 220

In [5]:
def hcf(a,b):
    com=min(a,b)
    step=com
    while com%a!=0 or com%b!=0:
        com+=step
    return com
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

result = lcm(num1, num2)
print(f"LCM of {num1} and {num2} is {result}")

LCM of 12 and 8 is 24

In [8]:
def fibo(n):
    if n <= 1:
        return n
    else:
        return fibo(n-1) + fibo(n-2)

n= int(input("Enter number of terms: "))
print("Fibonacci series:")
for i in range(n):
    print(fibo(i),end=" ")

Fibonacci series:
0 1 1 2 3

In [12]:
def find(n):
    largest = n[0]
    for num in n[1:]:
        if num > largest:
            largest = num
    return largest

numbers = [10,20,30,99]
print("Largest element is:", find(numbers))

Largest element is: 99

In [ ]:
def find(n):
    l=max(l1)
    return l
l1=[10,20,30,99]
print("Largest element is:", find(l1))

Largest element is: 4

In [ ]:
def find(n):
    l=max(l1)
    return l
l1=list(input('enter a list of elements'))
print("Largest element is:", find(l1))

In [ ]:
def remov(s):
    st=' '
    for i in s:
        if  i.isalpha():
           st=st+i
    print(st)
s=input('enter a string ')
remov(s)

In [24]:
def happy(n):
    seen=[]
    
    while n!=1 and n not in seen:
        seen.append(n)
        sqnum=0
        for dig in str(n):
            sqnum+=int(dig)**2
            n=sqnum

    if n==1:
        return 'happy number'
    else: 
        return 'not happy number'      
n=int(input('enter a number'))
happy(n)

'happy number'

In [ ]:
def chek()
if l:
    print('true')

In [1]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [3]:
i=0
while i<=10:
    print(i+1)
    i+=1

1
2
3
4
5
6
7
8
9
10
11

In [9]:
s=0
def add(a,b):
    s=a+b
    print(s)
add(1,2)

3

In [15]:
l1=[1,2,'cijo','aditya']
l1.append(4)
print(l1)
l1[0]=5
print(l1)

[1, 2, 'cijo', 'aditya', 4]
[5, 2, 'cijo', 'aditya', 4]

In [16]:
d={'a':'apple','b':'ball','c':'cat'}
d

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [21]:
def evn(n):
    l1=[]
    for i in range(0,n):
        if i%2==0:
            l1.append(i)
    return l1
n=int(input('enter a number'))
s=evn(n)
print(s)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [22]:
def prime(n):
    flag=False
    if n<=1:
        return 'not prime'
    else:
        for i in range(2,n):
            if n%i==0:
                flag=True
                break
    if flag==True:
        return 'not prime'
    else:
        return 'prime'
n=int(input('enter a number '))
prime(n)

'not prime'

In [23]:
def factorial(number):
    if number==1:
        return 1
    else:
        fact=number*factorial(number-1)
    return(fact)
number=int(input("Enter a number"))
factorial(number)

24

In [ ]:
def fact(n):
    if n==1:
        return 1
    else:
        s=n*