In [6]:
print("Hello world")

Hello world

In [7]:
name="cijo"
print(name)
type(name)

cijo

str

In [8]:
para= ''' this is a 
paragraph'''
print(para)

 this is a
paragraph

# typecasting

In [ ]:
a=6
b=3.5
c='abc'
d=2+2j
e=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>

In [13]:
float(a)

6.0

In [14]:
int(e)

1

In [15]:
float(e)

1.0

In [16]:
complex(3,5)

(3+5j)

# arithmeticoperators

In [18]:
x,y=6,4
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

10
2
24
1.5
2
1296
1

In [20]:
name='cijo'
surname='joseph'
print(name+" "+surname)

cijo joseph

# relational operators

In [21]:
a=12
b=15
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

 # assignment operators

In [22]:
a=1
a+=1
print(a)

2

# logical

In [30]:
a=2
b=3
print(a>0 and b<0)
print(a>0 or b<0)
print(not(a>b))

False
True
True

# membership

In [35]:
list=[1,2,3,4,5,6]
num=4
num in list
num not in list

False

# identity

In [36]:
x,y,z=1,2,1
print(x is y)
print(x is z)
print(x is not y)

False
True
True

# conditional statements

In [43]:
a=5
b=6
if a>b:
    print(a,' is larger')
elif a<b:
    print(b, ' is larger')
else:
    print('both are same')

6  is larger

In [44]:
a=int(input('enter a number'))
if a>0:
    print(a*a)
else:
    print(a)

16

In [45]:
l=int(input('enter length'))
b=int(input('enter breadth'))
if l==b:
    print('square')
else:
    print('not square')

not square

In [1]:
yr=int(input('enter the years of service'))
slry=int(input('enter the salary'))
if yr>5:
    bonus=slry*5/100
    print('bonus is ',bonus)
else:
    print('no bonus')

bonus is  50.0

In [2]:
a=int(input('enter first number'))
if a%2==0:
  print(a, 'is even')
else:
    print(a,'is odd')

4 is even

In [3]:
a=input('enter first number')
b=input('enter second number')
if a>b:
    print(a,'is larger than',b)
else:
    print(b,'is larger than',a)

4 is larger than 3

In [4]:
p = int(input("enter physics mark"))
m = int(input("enter maths mark"))
e = int(input("enter english mark"))
i = int(input("enter IT mark"))
b = int(input("enter biology mark"))
t=p+m+e+i+b
per=t*100/500
if per>=80:
    print('A')
elif per<80 and per<=60:
    print('B')
elif per<60 and per>=50:
    print('C')
elif per<50 and per>=45:
    print('D')
elif per<45 and per>=5:
    print('e')
else:
    print('you are failed')

B

In [5]:
a=int(input('enter the first age'))
b=int(input('enter the second age'))
c=int(input('enter the third age'))
if a>b:
    if a>c:
        print(a, 'is oldest')
    else:
        print(c, 'is oldest')
else:
    if b>c:
        print(b, 'is the oldest')
    else:
        print(c,'is oldest')

26 is oldest

In [6]:
h=int(input('enter the number of classes held'))
a=int(input('enter the number of classes attended'))
p=a/h*100
if p>=75:
    print('elgible')
else:
    print('not eligible')

elgible